<mat-card class="login-form-card mat-elevation-z8">
    <mat-card-title>Sign in</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <p>
                <mat-form-field appearance="legacy">
                    <mat-label>Email</mat-label>
                    <input type="text" matInput formControlName="userEmail" name="userEmail" autocomplete="off">
                    <mat-icon class="material-icons fa-gray" matSuffix>alternate_email</mat-icon>
                    <mat-error *ngIf="form.get('userEmail').hasError('required')">Ingrese su email!</mat-error>
                    <mat-error *ngIf="form.get('userEmail').hasError('email')">Email erróneo!</mat-error>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="legacy">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" name="userPassword" formControlName="userPassword" autocomplete="off">
                    <mat-icon class="fa-gray" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                    <mat-error *ngIf="form.get('userPassword').hasError('required')">Ingrese su contraseña!</mat-error>
                </mat-form-field>
                <!-- alert -->
                <app-alert class="alertChip" *ngIf="error" [message]="error" (closed)="alertClosed()"></app-alert>
            </p>

            <p class="submitButton">
                <button mat-raised-button color="primary" type="submit" name="login-button" [disabled]="loading">
                    <mat-icon class="material-icons md-light">send</mat-icon>
                </button>
            </p>

            <p class="linkForgotPassword">
                <a href="javascript:void(0)" target="_blank">Forgot password?</a>
            </p>

        </form>
    </mat-card-content>
    <mat-card-footer>
        <mat-progress-bar *ngIf="loading" mode="indeterminate" color="primary"></mat-progress-bar>
        <mat-toolbar>
            <img class="card-footer-logo" src="./assets/media/img/logos/logo-0.png" alt="logo"/>
        </mat-toolbar>
    </mat-card-footer>
</mat-card>