$app-theme-primary: mat-palette($mat-orange, A400, A200, A700);
$app-theme-accent:  mat-palette($mat-amber);
$app-theme-warn:  mat-palette($mat-red);

$app-theme: mat-light-theme(
    $app-theme-primary, 
    $app-theme-accent, 
    $app-theme-warn
);